[submodule "MyReads-A-Book-Lending-App"]
	path = MyReads-A-Book-Lending-App
	url = https://github.com/JackieLJM/MyReads-A-Book-Lending-App
[submodule "Health-Tracker"]
	path = Health-Tracker
	url = https://github.com/JackieLJM/Health-Tracker.git
[submodule "Holidays-Countback-Webapp"]
	path = Holidays-Countback-Webapp
	url = https://github.com/JackieLJM/Holidays-Countback-Webapp.git
[submodule "frontend-nanodegree-Neighborhood-Map"]
	path = frontend-nanodegree-Neighborhood-Map
	url = https://github.com/JackieLJM/frontend-nanodegree-Neighborhood-Map.git
