[submodule "MyReads-A-Book-Lending-App"]
	path = MyReads-A-Book-Lending-App
	url = https://github.com/JackieLJM/MyReads-A-Book-Lending-App
[submodule "Health-Tracker"]
	path = Health-Tracker
	url = https://github.com/JackieLJM/Health-Tracker.git
[submodule "frontend-nanodegree-Neighborhood-Map"]
	path = frontend-nanodegree-Neighborhood-Map
	url = https://github.com/JackieLJM/frontend-nanodegree-Neighborhood-Map.git
[submodule "Holidays-Countback-Webapp"]
	path = Holidays-Countback-Webapp
	url = https://github.com/JackieLJM/Holidays-Countback-Webapp
[submodule "frontend-nanodegree-arcade-game"]
	path = frontend-nanodegree-arcade-game
	url = https://github.com/JackieLJM/frontend-nanodegree-arcade-game
[submodule "frontend-nanodegree-feedreader"]
	path = frontend-nanodegree-feedreader
	url = https://github.com/JackieLJM/frontend-nanodegree-feedreader.git
[submodule "frontend-nanodegree-mobile-portfolio"]
	path = frontend-nanodegree-mobile-portfolio
	url = https://github.com/JackieLJM/frontend-nanodegree-mobile-portfolio.git
[submodule "frontend-nanodegree-resume"]
	path = frontend-nanodegree-resume
	url = https://github.com/JackieLJM/frontend-nanodegree-resume.git
[submodule "readable"]
	path = readable
	url = https://github.com/jackieljm/readable.git
